.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
}

.example-spacer {
  flex: 1 1 auto;
}

.main-nav-toolbar {
  background-color: #5678f6;
  height: 45px;
  color: white;
  font-family: 'Open Sans 200', sans-serif;
  z-index: 9999;
}

.main-nav-toolbar > 
.button-row button,
.button-row a {
  margin-right: 5px;
  background: none;
}