// .example-icon {
//     padding: 0 14px;
//   }
.example-spacer {
    flex: 1 1 auto;
}

.header-toolbar {
    background-color: #5678f6;
    height: 45px;
    color: white;
    font-family: 'Open Sans 200', sans-serif;
}

.header-button-row button,
.header-button-row a {
  margin-right: 5px;
  background: none;
}