<mat-sidenav-container class="sidenav-container" *ngIf="auth.isAuthenticated">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'over'">
    <mat-toolbar class="main-nav-toolbar">
      Home
      <i class="fab fa-xing fa-lg" style="margin-left: 5px"></i>
    </mat-toolbar>
    <mat-nav-list>
      <!-- <a mat-list-item routerLink="rooms">Rooms</a> -->
      <a mat-list-item routerLink="devices">Devices</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>

    <mat-toolbar color="primary" class="main-nav-toolbar" style="background-color:white">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>

      <span style="cursor: pointer;" routerLink="/home">
        Home
        <i class="fab fa-xing fa-lg" style="margin-left: 0px"></i>
      </span>

      <span class="example-spacer"></span>

      <button mat-icon-button style="margin-right:25px">
        <mat-icon routerLink="devices">device_hub</mat-icon>
      </button>

      <button mat-icon-button>
        <mat-icon matBadge="0" matBadgeColor="warn" matBadgeSize="medium">notifications</mat-icon>
      </button>

      <button mat-icon-button [matMenuTriggerFor]="profileMenu">
        <mat-icon>person</mat-icon>
      </button>

      <mat-menu #profileMenu="matMenu" style="margin: 0; padding: 0">
        <mat-list style="background-color: #faf9fe; padding: 0; margin-top: -8px">
          <mat-list-item>
            <img matListAvatar src="{{auth.authState.photoURL}}" alt="photo">
            <h4 mat-line>{{auth.authState.displayName}}</h4>
            <p mat-line>{{auth.authState.email}}</p>
          </mat-list-item>
        </mat-list>

        <button mat-menu-item style="margin-top: 8px" routerLink="profile">Profile</button>
        <button mat-menu-item (click)="logout()">Logout</button>
      </mat-menu>
    </mat-toolbar>

    <!-- Add Content Here -->
    <ng-content></ng-content>

  </mat-sidenav-content>
</mat-sidenav-container>

<!-- login component here -->
<mat-card class="login-card" *ngIf="!auth.isAuthenticated">
  <p style="color: #808080; font-size: 16px">
    Home
    <i class="fab fa-xing fa-lg"></i>
  </p>

  <form>
    <mat-form-field appearance="outline" class="login-form-field" style="margin-bottom: -20px" [color]="red">
      <mat-label>Email</mat-label>
      <input matInput placeholder="">
    </mat-form-field>

    <mat-form-field appearance="outline" class="login-form-field" color="accent">
      <mat-label>Password</mat-label>
      <input matInput placeholder="" [type]="hide ? 'password' : 'text'">
      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </mat-form-field>  
  </form>

  <img (click)="login()" src="../../assets/btn_google_signin_light_normal_web.png" alt="google-login" id="google-btn">

  <img src="../../assets/atg-logo.png" alt="atg-logo" id="atg-logo">
</mat-card>
