.margin-grid {
 margin-top: 10px;
 margin-left: 5px;
 margin-right: 5px;
}

.room-card {
  width: 100%;
  height: 100%;
  padding: 0;
  border-bottom: lightgray 1.5px solid !important;
}

.room-card > mat-card-header {
  height: 56px;
  background-color: #f8f8ffb3;
  // border: 1px solid;
  // opacity: .4;
}

.list-row {
  height: 56px;
  font-size: 15px;
}

.mat-icon {
  // font-size: 20x!important;
  // transform: scale(.9)
}

.circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  border: solid 1px lightgray;
}

.circle:hover{
  border: solid 3px lightgray;
}