<mat-grid-list [cols]="(isHandset$ | async) ? '1' : '4'" rowHeight="56px" [class.margin-grid]="!(isHandset$ | async)">
  <mat-grid-tile *ngFor="let room of roomsDict.values()" [colspan]="1" [rowspan]="room.devices.length+1">

    <mat-card class="room-card" [style.margin]="(isHandset$ | async) ? '0px' : '5px'">
      <mat-card-header>
        <mat-card-title style="margin-top: 5px; font-size: 15px" *ngIf="roomToRename!=room">
          {{room.name}}
        </mat-card-title>

        <mat-card-subtitle *ngIf="roomToRename!=room">{{room.devices.length}} devices</mat-card-subtitle>

        <mat-form-field class="example-form-field" *ngIf="roomToRename==room">
          <input matInput type="text" placeholder="Rename" [(ngModel)]="room.name" (focusout)="editRoomName()">
          <button mat-button *ngIf="room.name" matSuffix mat-icon-button aria-label="Clear" (click)="editRoomName()">
            <mat-icon>mode_edit</mat-icon>
          </button>
        </mat-form-field>

        <button mat-icon-button style="position: absolute;right: 0;top: 8px" [matMenuTriggerFor]="roomMenu">
          <mat-icon aria-label="more options icon">more_vert</mat-icon>
        </button>

        <mat-menu #roomMenu="matMenu">
          <button mat-menu-item>
            <span>Add device</span>
          </button>
          <button mat-menu-item (click)="editRoomName(room)">
            <span>Rename</span>
          </button>
          <button mat-menu-item [matMenuTriggerFor]="color">Color</button>
        </mat-menu>

        <mat-menu #color="matMenu">
          <mat-grid-list cols="3" rowHeight="40px">
            <mat-grid-tile *ngFor="let color of roomColors">
              <span class="circle" [style.background]="color" (click)="changeRoomColor(color, room)"></span>
            </mat-grid-tile>
          </mat-grid-list>
        </mat-menu>

      </mat-card-header>

      <mat-card-content [style.background]="room.color">
        <mat-list role="list">
          <mat-divider></mat-divider>
          <mat-list-item role="listitem" class="list-row" *ngFor="let deviceId of room.devices" [ngSwitch]="devicesDict.getValue(deviceId).type.id">
            <mat-divider></mat-divider>
            <mat-icon mat-list-icon>{{ devicesDict.getValue(deviceId).type.icon }}</mat-icon>
            <p mat-line>{{ devicesDict.getValue(deviceId).name }}</p>
            <!-- device status display -->
            <mat-slide-toggle *ngSwitchCase="0" color="primary"></mat-slide-toggle>
            <p *ngSwitchCase="1">Open</p>
            <p *ngSwitchCase="2">14ºC</p>
            <p *ngSwitchCase="3">No</p>
            <mat-slide-toggle *ngSwitchCase="4" color="primary"></mat-slide-toggle>
            <!-- end device status display -->
          </mat-list-item>
          <mat-divider></mat-divider>
        </mat-list>
      </mat-card-content>
    </mat-card>

  </mat-grid-tile>
</mat-grid-list>


<!-- <mat-grid-list [cols]="(isHandset$ | async) ? '1' : '4'" rowHeight="56px" [class.margin-grid]="!(isHandset$ | async)">
    <mat-grid-tile *ngFor="let room of roomsDict.values()" [colspan]="1" [rowspan]="room.devices.length+1">
      <mat-card class="room-card" [style.margin]="(isHandset$ | async) ? '0px' : '5px'">
        <mat-card-header>
          <mat-card-title>
            {{ room.name }}
          </mat-card-title>
          <mat-card-subtitle *ngIf="roomToRename!=room">{{room.devices.length}} devices</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content [style.background]="room.color">
          <mat-list role="list">
            <mat-divider></mat-divider>
            <mat-list-item role="listitem" class="list-row" *ngFor="let deviceId of room.devices" [ngSwitch]="devicesDict.getValue(deviceId).type.id">
              <mat-divider></mat-divider>
              <mat-icon mat-list-icon>{{ devicesDict.getValue(deviceId).type.icon }}</mat-icon>
              <p mat-line>{{ devicesDict.getValue(deviceId).name }}</p>
              device status display
              <mat-slide-toggle *ngSwitchCase="0" color="primary"></mat-slide-toggle>
              <p *ngSwitchCase="1">Open</p>
              <p *ngSwitchCase="2">14ºC</p>
              <p *ngSwitchCase="3">No</p>
              <mat-slide-toggle *ngSwitchCase="4" color="primary"></mat-slide-toggle>
              end device status display
            </mat-list-item>
            <mat-divider></mat-divider>
          </mat-list>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
</mat-grid-list> -->